<div class="navbar-wagon">

<div class="container">
  <h1>Cocktails</h1>
</div>
</div>
<div class="container">
    <div class="row">
      <ul>
        <% @cocktails.each do |x| %>

        <div class="col-xs-12 col-sm-6 col-md-4">
        <li class="card"> <%= link_to "#{x.name}", cocktail_path(x) %> </li>
        </div>
        <% end %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <%= link_to "Add a Cocktail", new_cocktail_path %>
          </div>
        </div>

      </ul>
    </div>
</div>

